.datepicker
	.datepicker__head
		button.datepicker__nav
			svg.icon
				use( xlink:href="#arrow-left" )
		.datepicker__month Май
		button.datepicker__nav
			svg.icon
				use( xlink:href="#arrow-right" )
	.datepicker__body
		.cal-month-view
			mwl-calendar-month-view-header
				.cal-cell-row.cal-header.ng-star-inserted
					.cal-cell.cal-past.cal-weekend.ng-star-inserted
						| Sun
					.cal-cell.cal-past.ng-star-inserted
						| Mon
					.cal-cell.cal-past.ng-star-inserted
						| Tue
					.cal-cell.cal-today.ng-star-inserted
						| Wed
					.cal-cell.cal-future.ng-star-inserted
						| Thu
					.cal-cell.cal-future.ng-star-inserted
						| Fri
					.cal-cell.cal-future.cal-weekend.ng-star-inserted
						| Sat
			.cal-days
				.ng-star-inserted
					.cal-cell-row
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-weekend.cal-out-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 29
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-out-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 30
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-out-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 31
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 1
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 2
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 3
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-weekend.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 4
					mwl-calendar-open-day-events.ng-tns-c1-0
				.ng-star-inserted
					.cal-cell-row
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-weekend.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 5
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 6
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 7
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-today.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 8
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 9
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 10
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-weekend.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 11
					mwl-calendar-open-day-events.ng-tns-c1-1
				.ng-star-inserted
					.cal-cell-row
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-weekend.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 12
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 13
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 14
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 15
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 16
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 17
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-weekend.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 18
					mwl-calendar-open-day-events.ng-tns-c1-2
				.ng-star-inserted
					.cal-cell-row
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-weekend.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 19
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 20
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 21
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 22
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 23
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 24
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-weekend.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 25
					mwl-calendar-open-day-events.ng-tns-c1-3
				.ng-star-inserted
					.cal-cell-row
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-weekend.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 26
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 27
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 28
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 29
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 30
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-in-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 31
						mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-future.cal-weekend.cal-out-month.ng-star-inserted(mwldroppable="")
							.cal-cell-top.ng-star-inserted
								span.cal-day-number 1
					mwl-calendar-open-day-events.ng-tns-c1-4
