.channel.channen-league
	.row
		.col-5
			.channel__preview(style="background-image:url(assets/images/content/channel-img-1.jpg)")
		.col-7
			.channel__data
				.channel__avatar(style="background-image:url(assets/images/content/avatar-4.jpg)")
				.channel__stream-name Хартстоун Россия снова в топе!
					br
					| Играем дальше
				.channel__line
					.channel__stats
						.stat-one.stat-one-rec
							.stat-one__icon
								svg.icon
									use( xlink:href="#viewers-live" )
							.stat-one__value
								| 243 987
						.stat-one
							.stat-one__icon
								svg.icon
									use( xlink:href="#favorite-icon" )
							.stat-one__value
								| 423 987
				.channel__tags
					ul.tags-list
						li
							a(href="#").tag-link.tag-stream
								.tag-link__img(style="background-image:url(assets/images/content/avatar-3.png)")
								.tag-link__name BobtheMan
						li
							a(href="#").tag-link
								.tag-link__name Без мата
				.channel__control
					button.btn.btn-default
						span.btn-name На канал
//channel
