footer.layout-footer
	.container
		.footer-inner
			.footer-info
				.footer-logo__wrap
					a(href="#").footer-logo
						img( src="assets/images/logo-grey.svg" alt="Logo")
				.copyright
					p © 2018 WASD.tv Все права защищены.
					br
					| Все торговые марки все остальные
					br
					| документы верифицированы
					br
					|и прописаны. Пока бесплатно.
				.footer-rules__wrap
					ul.footer-rules
						li
							a(href="#") Политика безопасности
						li
							a(href="#") Правовая информация

			.footer-menu__wrap
				ul.footer-menu
					li
						a(href="#").footer-menu__link-main Главная
						ul
							li
								a(href="#").footer-menu__link Все стримы
							li
								a(href="#").footer-menu__link Записи
							li
								a(href="#").footer-menu__link FAQ
					li
						a(href="#").footer-menu__link-main Новички
						ul
							li
								a(href="#").footer-menu__link Первый стрим
							li
								a(href="#").footer-menu__link Стоит присмотреться
							li
								a(href="#").footer-menu__link Быстрый рост
					li
						a(href="#").footer-menu__link-main Самые самые
						ul
							li
								a(href="#").footer-menu__link Самые любимые
							li
								a(href="#").footer-menu__link Самые долгие стримы
							li
								a(href="#").footer-menu__link Популярные записи
					li
						a(href="#").footer-menu__link-main Записи
						ul
							li
								a(href="#").footer-menu__link От Gambit
							li
								a(href="#").footer-menu__link Киберспортивные
							li
								a(href="#").footer-menu__link Ламповые
				//footer-menu
			//footer-menu__wrap
			.footer-social__wrap
				ul.footer-social__list
					li
						a(href="#").footer-social__link
							img( src="assets/images/svg-content/social-yt.svg" alt="")
					li
						a(href="#").footer-social__link
							img( src="assets/images/svg-content/social-vk.svg" alt="")
					li
						a(href="#").footer-social__link
							img( src="assets/images/svg-content/social-fb.svg" alt="")
					li
						a(href="#").footer-social__link
							img( src="assets/images/svg-content/social-gc.svg" alt="")
		//footer-inner
//layout-footer

