footer.layout-footer
	.container
		.footer-inner
			.footer-info
				.footer-logo__wrap
					a(href="#").footer-logo
						img( src="assets/images/logo-grey.svg" alt="Logo")
			.footer-details
				.copyright
					p © 2018 WASD.tv Все права защищены.
				ul.footer-rules.footer-rules-inline
					li
						a(href="#") Политика безопасности
					li
						a(href="#") Правовая информация
			.footer-social__wrap
				ul.footer-social__list
					li
						a(href="#").footer-social__link
							img( src="assets/images/svg-content/social-yt.svg" alt="")
					li
						a(href="#").footer-social__link
							img( src="assets/images/svg-content/social-vk.svg" alt="")
					li
						a(href="#").footer-social__link
							img( src="assets/images/svg-content/social-fb.svg" alt="")
					li
						a(href="#").footer-social__link
							img( src="assets/images/svg-content/social-gc.svg" alt="")
		//footer-inner
//layout-footer

