script(src="assets/scripts/jquery/jquery-3.3.1.min.js")
script(src="assets/scripts/plugins/mousewheel/jquery.mousewheel.min.js")
script(src="assets/scripts/bootstrap/tab.js")
script(src="assets/scripts/bootstrap/util.js")
script(src="assets/scripts/plugins/slick/slick.min.js")
script(src="assets/scripts/interface.js")
script(src="assets/scripts/pages.js")
