extends ../layout/layout-default

block vars
	- var bodyClass = '';

block head
	- var pageTitle = 'WASD';

block content
	- var profMenu = 'settings'
	- var footerVer = 'full'
	include ../modules/profile-head
	section.section-default
		.container
			.row
				.col-md-6.col-sm-6.col-6
					.col-inner
						.section-title Основные настройки
						.box-white
							.form-setting
								.form-avatar
									.form-line
										.form-line__name Аватар профиля
										.avatar-img(style="background-image:url(assets/images/content/avatar-2.png)").circle
											label.avatar-input
												input(type="file" name="avatar")
												.avatar-input__icon
													svg.icon
														use( xlink:href="#photo-icon" )
								.form-line.form-line-sm
									.input-module
										.input-module__name Никнейм
										label.input-module__label
											input(type="text" value="12345678" name="name" required).input-module__text.active
										.input-module__details
											| Никнейм должен содержать от 3 до 20 символов, состоящий из латинских букв, цифр и знаков «_», «-»,  без пробелов.

								.form-line
									.form-line__name Указать соцсети профиля
									.input-row
										.input-module
											label.input-module__label
												input(type="text" name="social" placeholder="https://www.facebook.com/wasdtv" value="").input-module__text.input-module__text-border.text-uppercase
											.input-module__details
												| Вставь ссылочку на свои соцсети (Vk, Facebook, YouTube).
												br
												| За каждую соцсеть 10 XP
										.btn__wrap
											button.btn.btn-default
												span.btn-name Добавить
									ul.social-list
										li
											a(href="#" target="_blank").social-link
												img( src="assets/images/svg-content/social-tw.svg" alt="")
										li
											a(href="#" target="_blank").social-link
												img( src="assets/images/svg-content/social-yt.svg" alt="")
										li
											a(href="#" target="_blank").social-link
												img( src="assets/images/svg-content/social-vk.svg" alt="")
										li
											a(href="#" target="_blank").social-link
												img( src="assets/images/svg-content/social-fb.svg" alt="")
							//form-setting
						//box-white
					//col-inner
				.col-md-6.col-sm-6.col-6
					.col-inner
						.section-title Безопасность
						.box-white
							.form-security
								.form-line
									.input-module
										.input-module__name Email
										label.input-module__label
											input(type="text" value="myemail@gmail.com" name="email" required).input-module__text.active
								.form-line
									.input-module
										.input-module__name Телефон
										label.input-module__label
											input(type="tel" value="" name="phone").input-module__text
								.form-subtitle Изменение пароля
								.form-line
									.input-module
										.input-module__name.transform.active Старый пароль
										.input-module__controls
											button.im-control.active
												svg.icon
													use( xlink:href="#hide-icon" )
										label.input-module__label
											input(type="password" value="mypass" name="").input-module__text.active
										.input-module__details.absolute-right
											| Пароль должен содержать от 10 до 40 символов, состоящий из латинских букв, цифр и знаков.
								.form-line
									.input-module
										.input-module__name.transform.active Старый пароль
										.input-module__controls
											button.im-control.active
												svg.icon
													use( xlink:href="#hide-icon" )
										label.input-module__label
											input(type="password" value="mypass" name="").input-module__text.active

								.form-line
									.input-module
										.input-module__name.transform.active.error Пароль не совпадает
										.input-module__controls
											button.im-control.active
												svg.icon
													use( xlink:href="#show-icon" )
										label.input-module__label
											input(type="text" value="mypass" name="").input-module__text.active.error
								.form-line
									.btn__wrap
										button.btn.btn-default
											span.btn-name Сохранить
										button.btn.btn-cancel
											span.btn-name Отмена
							//form-security
						//box-white
					//col-inner
		//container
