extends ../layout/layout-error

block vars
	- var bodyClass = 'layout-error';

block head
	- var pageTitle = 'Error';

block content
	section.section-error
		.container.container-sm
			.section-error__image(style="background-image: url(assets/images/errors/error.png)")
			h1.section-error__headline Проводятся технические работы.
			.section-error__content
				p Приносим свои извинения — скоро всё починим.
			.section-error__footer
				p
					| Может мы уже все починили -
					|#{' '}
					a(href="#") обновить страницу
