.player {
  display:block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  background:$black;
  z-index:100;
  overflow:hidden;

  &.hover {
    .player__info,
    .player__controls {
      transition-delay:0s;
      opacity:1;
      transform:translate3d(0,0,0);
    }
  }
  iframe {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
  }
  .player__video {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:contain;
  }
}
.player__info {
  transform:translate3d(0,-100%,0);
}
.player__controls {
  transform:translate3d(0,100%,0);
}
.player__info,
.player__controls {
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  transition:all $anim ease;
  opacity:0;
  transition-delay:1s;
  z-index:20;

  &:before {
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:$black;
    opacity:0.6;
  }
}
.player__info {
  padding:1.5rem 2.5rem;
}

.player__controls {
  bottom:0;
  left:0;
  top:auto;
  right:0;

  .container {
    .controls__wrap {
      padding:0.8rem 0;
    }
  }

  .controls__wrap {
    display:flex;
    flex-direction:row;
    width:100%;
    flex-wrap:nowrap;
    align-items:center;
    padding:0.8rem 1.4rem .8rem 1.2rem;
    position:relative;
    z-index:50;
  }
  .controls__right,
  .controls__left {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
  }
  .controls__right {
    margin-left:auto;
  }
  .btn-control__single {
    display:flex;
    flex-direction:row;
    align-items:center;
    height:2.4rem;
    min-width:2.4rem;
    border-radius:5rem;
    background:rgba(0,0,0,0.0);
    padding:0;
    transition:background $anim ease;
    margin:0 .8rem;
    position:relative;

    &.hover,
    &:hover {
      background:rgba(0,0,0,0.4);
      //padding:.45rem 0;

      .btn-controls {
        //width:1.75rem;
        //height:1.4rem;
        transform:scale(.90);
      }
    }
  }
  .btn-controls {
    display:block;
    margin:0 auto;
    width:2.0rem;
    height:1.6rem;
    background:none;
    border:none;
    text-decoration:none;
    padding:0;
    cursor:pointer;
    position:relative;
    backface-visibility:hidden;

    .icon {
      display:block;
      width:100%;
      height:100%;
      fill:$white-three;
      transition:all $anim ease;
    }
  }
  .volume-preview {
    display:block;
    position:absolute;
    width:0.8rem;
    height:.8rem;
    right:.05rem;
    top:.35rem;
    transition:opacity $anim ease;

    .vp-line {
      display:block;
      position:absolute;
      width:.15rem;
      height:.8rem;
      background:$white-three;
      margin-top:-.4rem;
      top:50%;
      left:50%;
      opacity:0;
    }

    &.vol-max {
      .vp-line {
        opacity:1;
      }
      .vp-line-1 {
        //transform:rotate(90deg);
        height:.4rem;
        margin-left:-.2rem;
        margin-top:-.2rem;
      }
      .vp-line-2 {
        //transform:rotate(90deg);
        margin-left:.1rem;
      }
    }
    &.vol-mute {
      .vp-line {
        opacity:1;
        width:.1rem;
      }
      .vp-line-1 {
        transform:rotate(45deg);
      }
      .vp-line-2 {
        transform:rotate(-45deg);
      }
    }
  }
  .btn-control__single:hover {
    .sound-bar {
      width:4.5rem;
      opacity:1;
    }
    .volume-preview {
      opacity:0;
    }
  }
  .sound-bar {
    display:block;
    width:0;
    height:1.2rem;
    overflow:hidden;
    position:relative;
    margin-right:.5rem;
    margin-left:-.5rem;
    transition:all $anim ease;
    opacity:0;
    cursor:pointer;

    &:before {
      content:'';
      display:block;
      position:absolute;
      top:50%;
      left:0;
      margin-top:-.1rem;
      width:100%;
      height:.2rem;
      background:$warm-grey;
    }

    .bar {
      display:block;
      position:absolute;
      top:50%;
      left:0;
      margin-top:-.1rem;
      width:100%;
      height:.2rem;
      background:$white-three;
    }
  }
  .btn-control__one {
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:.4rem .2rem;
    width:100%;
  }
  .btn-control__one:hover .btn-control__tip {
    opacity:1;
    visibility:visible;
    //transition-delay:1.0s;
    &:before {
      opacity:1;
      visibility:visible;
      //transition-delay:1.0s;
    }
  }
  .btn-control__tip {
    display:block;
    position:absolute;
    bottom:100%;
    left:50%;
    transform:translate3d(-50%,0,0);
    backface-visibility:hidden;
    background:rgba(0,0,0,0.8);
    border-radius:.4rem;
    white-space:nowrap;
    color:$warm-grey;
    font-size:1.2rem;
    line-height:1.6rem;
    padding:.3rem 1.6rem;
    margin-bottom:2.2rem;
    opacity:0;
    visibility:hidden;
    transition:all $anim ease;
    cursor:default;

    &.left-pos {
      left:-1.2rem;
      transform:translate3d(0,0,0);

      &:before {
        left:1.6rem;
        margin-left:0;
      }
    }
    &.right-pos {
      left:auto;
      right:-1.2rem;
      transform:translate3d(0,0,0);

      &:before {
        left:auto;
        right:1.6rem;
      }
    }

    &:before {
      content:'';
      width:0;
      height:0;
      position:absolute;
      top:100%;
      left:50%;
      margin-left:-.8rem;
      border:.8rem solid rgba(0,0,0,0);
      border-bottom:none;
      border-top-color:rgba(0,0,0,.8);
      transition:all $anim ease;
      opacity:0;
      visibility:hidden;
    }

    span {
      display:block;
      position:relative;
    }
  }
  .btn-control__config {
    display:none;
    position:absolute;
    bottom:100%;
    left:50%;
    transform:translate3d(-50%,0,0);
    margin-bottom:2.2rem;
    background:rgba(0,0,0,0.8);
    border-radius:.4rem;

    &:before {
      content:'';
      display:block;
      position:absolute;
      top:100%;
      left:0;
      right:0;
      height:1.2rem;
    }

    &.left-pos {
      left:-1.2rem;
      transform:translate3d(0,0,0);

      .btn-control__block {
        &.has-arrow {
          &:before {
            left:1.6rem;
            margin-left:0;
          }
        }
      }
    }
    &.right-pos {
      left:auto;
      right:-1.2rem;
      transform:translate3d(0,0,0);

      .btn-control__block {
        &.has-arrow {
          &:before {
            left:auto;
            right:1.6rem;
          }
        }
      }
    }
  }
  .btn-control__block {
    display:none;
    min-width:12rem;
    padding:.4rem;
    border-radius:.4rem;
    position:relative;

    &.has-arrow {
      &:before {
        content:'';
        width:0;
        height:0;
        position:absolute;
        top:100%;
        left:50%;
        margin-left:-.8rem;
        border:.8rem solid rgba(0,0,0,0);
        border-bottom:none;
        border-top-color:rgba(0,0,0,.8);
        transition:all $anim ease;
      }
    }

    &.visible {
      display:block;
    }
    &.btn-control__block-lg {
      min-width:22rem;
    }
  }
  .config-btn {
    display:flex;
    width:100%;
    flex-direction:row;
    flex-wrap:nowrap;
    background:none;
    border:none;
    text-decoration:none;
    color:$warm-grey;
    font-size:1.2rem;
    line-height:1.4rem;
    padding:0.9rem 1rem;
    border-radius:.4rem;
    white-space:nowrap;

    &:hover {
      color:$white-three;
      background:rgba(0,0,0,0.6);

      .prev-arrow {
        &:before {
          border-right-color:$white-three;
        }
      }
      .next-arrow {
        &:before {
          border-left-color:$white-three;
        }
      }
    }
    &:active {
      color:$warm-grey;
      background:rgba(0,0,0,0.6);

      .prev-arrow {
        &:before {
          border-right-color:$warm-grey;
        }
      }
      .next-arrow {
        &:before {
          border-left-color:$warm-grey;
        }
      }
    }
    &.enabled {
      color:$dark-sky-blue-two;
    }
    .prev-arrow,
    .next-arrow {
      display:inline-block;
      vertical-align:top;
      width:0.5rem;
      height:1.0rem;
      position:relative;

      &:before {
        content:'';
        display:block;
        position:absolute;
        top:50%;
        left:50%;
        width:0;
        height:0;
        border:.4rem solid rgba(0,0,0,0);
        margin-top:-0.2rem;
        margin-left:-.2rem;
      }
    }
    .prev-arrow {
      margin-right:0.8rem;
      &:before {
        border-left:none;
        border-right-color:$warm-grey;
        left:0;
        margin-left:0;
      }
    }
    .next-arrow {
      margin-left:.8rem;
      &:before {
        border-right:none;
        border-left-color:$warm-grey;
      }
    }
    .config-btn__value {
      margin-left:auto;
      padding-left:2.0rem;
    }
  }
  .config-line {
    display:block;
    margin-bottom:.4rem;

    &:last-child {
      margin-bottom:0;
    }
  }
}//player__controls


.player__info-block {
  display:block;
  position:relative;
  z-index:10;

  .player__info-stream-name {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    flex-basis: 100%;
    min-height:0;
    max-width:100%;
    font-size:2.4rem;
    line-height:3.0rem;
    letter-spacing:0.02rem;
    color:$white-three;
    font-weight:normal;
    margin:0 0 .5rem 0;
    padding-right:15rem;
  }
  .player__info-line {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    margin:0 0 1.2rem;

    &:last-of-type {
      margin-bottom:0;
    }
  }
  .player__info-name {
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:1.3rem;
    line-height:1.6rem;
    color:$white-three;
    margin-right:1.5rem;
    text-decoration:underline;
    vertical-align:middle;

    &:hover {
      text-decoration:none;
    }
  }
}
.player-time {
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  font-size:1.4rem;
  line-height:1.4rem;
  color:$white-three;
  margin:0 1rem;

  .player-time__max,
  .player-time__current {
    display:inline-block;
  }
}
.controls__state {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:center;
  padding:0 1rem;
  cursor:default;

  .player__info-status {
    display:flex;
    position:static;
    top:auto;
    right:auto;
    margin-right:1.3rem;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    .player-status + .player-status {
      margin-left:1rem;
    }
    .player-status {
      height:1.6rem;
      text-transform:lowercase;
      font-size:1.2rem;
      line-height:1.2rem;
      padding:.1rem .7rem .3rem .5rem;
      background:none;
      color:$white-three;
      font-weight:normal;
      border-radius:.2rem;

      &:before {
        content:'';
        display:block;
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        border-radius:inherit;
        opacity:.6;
        background:$warm-grey;
      }

      &.live {
        &:before {
          background:$pale-red;
        }
        .ps-icon {
          opacity:1;
          background:$pale-red;
        }
      }
    }
    .player-status__icon {
      width:.8rem;
      height:.8rem;
      margin-top:.2rem;
      position:relative;

      .ps-icon {
        width:.8rem;
        height:.8rem;
        border:none;
        background:$white-three;
        opacity:.4;
      }
    }
    .player-status__name {
      position:relative;
    }
    .icon {
      fill:$white-three;
    }
  }
}//controls__state
.player__info-status {
  display:block;
  position:absolute;
  top:2.0rem;
  right:2.5rem;

  .player-status {
    display:flex;
    flex-direction:row;
    align-items:center;
    width:100%;
    font-size:1.2rem;
    line-height:1.4rem;
    color:$warm-grey;
    font-weight:bold;
    white-space:nowrap;
    position:relative;

    &.live {
      color:$white-three;

      .player-status__icon {
        .ps-icon {
          border-color:$white-three;
          background:$red;
        }
      }
    }
  }
  .icon {
    fill:$warm-grey;
  }
  .player-status__icon {
    display:block;
    width:1.0rem;
    height:1.0rem;
    margin-right:.5rem;

    .ps-icon {
      display:block;
      width:1.0rem;
      height:1.0rem;
      border:.1rem solid $warm-grey;
      background:$warm-grey;
      border-radius:50%;
    }
  }
}//player__info-status
.player-bar {
  display:block;
  position:absolute;
  bottom:100%;
  left:0;
  right:0;
  height:.4rem;
  transition:height $anim linear, background $anim linear;
  background:rgba(255,255,255,0.4);
  cursor:pointer;

  &:before {
    content:'';
    display:block;
    position:absolute;
    bottom:-.5rem;
    top:-.5rem;
    left:0;
    right:0;
  }

  .bar {
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    max-width:100%;
    background:$dark-sky-blue;

    &:before {
      content:'';
      display:block;
      position:absolute;
      width:1.0rem;
      height:1.0rem;
      border-radius:.2rem;
      background:$dark-sky-blue;
      box-shadow:0 .2rem .2rem 0 rgba(72, 60, 184, 0.2);
      right:-.2rem;
      top:0;
      margin-top:-.2rem;
      transform:rotate(45deg);
      opacity:0;
      transition:opacity $anim linear;
    }
  }
  &.hover,
  &:hover {
    height:.5rem;
    background:rgba(255,255,255,0.6);

    .bar {
      &:before {
        opacity:1;
      }
    }
  }
}
.switcher {
  display:block;
  width:2.8rem;
  height:1.2rem;
  border-radius:2.8rem;
  background:$slate-grey;
  position:relative;
  transition:background $anim ease;
  margin:.2rem 0 0;

  .switcher-icon {
    display:block;
    position:absolute;
    top:50%;
    left:0;
    width:1.6rem;
    height:1.6rem;
    border-radius:50%;
    background:$ligth-grey-two;
    margin-top:-.8rem;
    transition:left $anim ease, transform $anim ease, background $anim ease;
  }
  &.enabled {
    background:$dark-sky-blue-two;
    .switcher-icon {
      left:100%;
      transform:translate3d(-100%,0,0);
      background:$white-three;
    }
  }
}
