.section-title__counter-wrap {
  display:inline-block;
  margin: 0 0 2rem;
  padding-left: 2.5rem;
}

.section-title__counter {
  font-size: 1.3rem;
  line-height: 1.6rem;
  color:$dark-sky-blue;
}

.search-result-head {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  padding:1.5rem 0 2rem;
  min-height:15rem;

  .search-result-head__title {
    font-size:3.2rem;
    line-height:3.5rem;
    color:$slate-grey;
    margin:0 0 2rem;

    &:last-child {
      margin-bottom:0;
    }
  }
  .result {
    color:$black;
  }
}
