footer.footer-skeleton
	.container
		.footer-inner-skeleton
			.footer-info-skeleton
				.footer-logo-skeleton
			.footer-menu-skeleton
				.footer-menu__line-skeleton
				.footer-menu__line-skeleton
			.footer-social-skeleton
				.footer-social__link-skeleton
				.footer-social__link-skeleton
				.footer-social__link-skeleton
				.footer-social__link-skeleton
		//footer-inner-skeleton
//footer-skeleton

