header.header-skeleton
	.container
		.header-inner-skeleton
			.logo-skeleton
			.header-controls-skeleton
				.header-link-skeleton
				.user-exp-skeleton
					.user-exp__icon-skeleton
					.user-exp__value-skeleton
				.user-profile-skeleton
					.user-profile__avatar-skeleton
					.user-profile__name-skeleton
				.burger-menu-skeleton
			//header-controls-skeleton
		//header-inner-skeleton
	//container


